<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>10.04.2020</small>
  </div>

  <div>
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid beatae, cupiditate dolorum facilis harum illum ipsam maiores molestiae nesciunt officiis, omnis optio quisquam repellendus? Cumque natus neque repudiandae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid beatae, cupiditate dolorum facilis harum illum ipsam maiores molestiae nesciunt officiis, omnis optio quisquam repellendus? Cumque natus neque repudiandae.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias aliquid beatae, cupiditate dolorum facilis harum illum ipsam maiores molestiae nesciunt officiis, omnis optio quisquam repellendus? Cumque natus neque repudiandae.</p>
</div>
